* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.bg-light-blue {
  background-color: #f8f9fa;
}

html {
  scroll-behavior: smooth;
}
